services:
  redis-server:
    image: 'dhi.io/redis:8.2-debian13'
    restart: 'on-failure'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
  node-app:
    build: .
    restart: 'on-failure'
    ports:
      - 4001-4004:8081
    depends_on:
      redis-server:
        condition: service_healthy
